language: java
jdk: oraclejdk8
before_install: "./.travis.before_install.sh"
script: "./.travis.script.sh"
sudo: required
dist: trusty
branches:
  only:
  - master
cache:
  directories:
  - "$HOME/.m2"
before_cache:
- rm -rf "$HOME/.m2/repository/com/vaadin/framework8/"
env:
- secure: BzQBl8fhWJC2JjQs1b403aaw/d8hxXYFrpV3oRElNlXaSQXcVqZpD433YDVi9NzdbsNyy6NVmAaaZxnrSKKvyngHox2rggTUBcsXUY6GTc5/OlNsxw7Oeh5sIcU5kSYf2LK7nmBAA6hDycZu/tjxDXL8LnGNOyr7WApQTWtSfLnZb6tz3tqiCFhEYqmPGBGvElsE7QKWYxrTSJ9ZLXs9nh3zc17BVYeHRcv9ETQngWZlQ5uMtB9x9f9iXFJz3A13MUtv+dbWG0nr74+o8wVBlC2JNfatUC1WSuOU7x2JI3iw4tisJUsBMW1ENzPbijL1RIZkxKNo3bd/pZhYJFBdKTMjYNUQHIBWHrJ2AXt9VOdgKA0+UPJoOIe57Tu+pmLaXw3VxrsGls4tWCO3H/bxTxSA30LQYjwAR8KQqd+tNjTA9QM54h6XsQvkeZ6/I5j5FF548ggReGiEW9q0loh/wfwKBRZMSoxu9YRBIwaXLXL8PEvs6SCKYlQm6glD5x0r/FnJW4Hhm11WIrVNkFIobY54/hlMCUO1MMGt4sYQbGxqXt8SnXWWMy0A0hXc0uFh/xAZ8Yq8xeo2A9ly5LkCz4UEKVJidoBEcibIJU+NgpbpQMaWyzUQFDln89fU38OoYTwbR98WwBzWh8Pn26yz1B0VZUcVo+JUJz/QlL+h8xE=
